[Unit]
Description=MamePower Bot Service
After=network.target

[Service]
Type=simple
Environment="WORKING_DIR=/home/sasnews/mamepower"
WorkingDirectory=${WORKING_DIR}
ExecStart=/bin/bash ${WORKING_DIR}/start.sh
EnvironmentFile=${WORKING_DIR}/.env
Restart=always
RestartSec=10
User=sasnews

[Install]
WantedBy=multi-user.target